

/**************************************************************

	Validate
	v 2.1

**************************************************************/

#myForm {
	border: 1px solid #cac9b9;
	padding: 5px;
}

#myForm p {
	margin-bottom: 5px;
}

#myForm label {
	float: left;
	width: 100px;
}

#myForm input, #myForm textarea, #myForm select {
	border: 1px solid #cac9b9;
}

#myForm .red {
	border: 1px solid red;
}

#myForm label.red {
	border: none;
	color: red;
}

#myForm .customRed {
	border: none;
	color: red;
}

#myForm #submit {
	margin-left: 100px;
}

#validationMessage {
	padding: 5px;
	/*background-color: #eee;*/
	border: 1px solid red;
	margin-bottom: 10px;
	color: red;
	font-weight: bold;
	display: none;
}

#myForm .errorMessage {
	color: red;
	margin-left: 10px;
	font-size: 0.8em;
}


/*************************************************************/
